<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>BankInk<strong> Marketplace</strong></span>
    <span class="example-spacer"></span>
    <button mat-button (click)="openDialog()">
      <mat-icon
        matBadge="0"
        matBadgeColor="warn"
        class="example-icon"
        (click)="openDialog()"
        >local_grocery_store</mat-icon
      >
    </button>
    <button mat-button (click)="onCloseSession()">
      <mat-icon
        class="example-icon"
        (click)="isAuth ? onCloseSession() : onLogin()"
        >meeting_room</mat-icon
      >
      {{ isAuth ? "Close session" : "LogIn" }}
    </button>
  </mat-toolbar-row>
</mat-toolbar>
