<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>BankInk<strong> Marketplace</strong></span>
    <span class="example-spacer"></span>
    <button mat-button (click)="openDialog()">
      <mat-icon
        matBadge="15"
        matBadgeColor="warn"
        class="example-icon"
        (click)="openDialog()"
        >local_grocery_store</mat-icon
      >
    </button>
    <button mat-button (click)="onCloseSession()">
      <mat-icon class="example-icon" (click)="onCloseSession()"
        >meeting_room</mat-icon
      >
      Close session
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row class="search-menu">
    <span class="example-spacer"></span>
    <button mat-button *ngFor="let category of categories">
      {{ category.name }}<mat-icon>visibility</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <div class="search-by-name">
      <form class="example-form">
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Search</mat-label>
          <input type="text" matInput placeholder="example: computer" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="products-container">
  <div class="products-space">
    <app-product-card
      *ngFor="let product of products"
      [productInput]="product"
    ></app-product-card>
  </div>
</div>
